.current-user {
  position: fixed;
  right: 5px;
  bottom: 5px;
  height: 50px;
  width: 100px;
  border: 2px solid #fff;
}

.highcharts-wrapper {
  height: 100vh;
}

.pink {
  background-color: #E91E63;
}
.red {
  background-color: #F44336;
}
.orange {
  background-color: #FF9800;
}
.green {
  background-color: #4CAF50;
}
.blue {
  background-color: #2196F3;
}
